<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    {{>header}}
    <div>
        <h1> {{descprip}} </h1>
        <img src="img/weather1.jpeg" alt="weather" class="weather">
    </div>

    <div>
        <form action="">
            <input type="text" name="location" id="loc" placeholder="Location" style="width: 400px;">
            <button id="btn">Search</button>
        </form>
        <p style="color: rgb(240, 231, 231); background-color:red"></p>
        <p style="color: blue; background-color:cadetblue"></p>
    </div>
    {{>footer}}
    <script src="./js/app.js"></script>
</body>
</html>